// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/page
@import partials/form
@import partials/two_col

// Global variables
$bg-color: #000
$accent-color: #82E66E
$text-color: #FFF

// Common mixins
@mixin dark-bg
    background: url(../img/bg-texture.png) repeat

@mixin body-text
    color: #FFF
    font-family: 'Metrophobic', sans-serif

@mixin header-text
    color: #FFF
    font-family: 'Varela', sans-serif

@mixin code-text
    font-family: 'Droid Sans Mono', sans-serif


body.default
    +dark-bg
    +body-text
    border-top: 8px solid $accent-color
    color: $text-color
    font-size: 16px

header
    padding: 10px 0
    text-align: right

h1, h2, h3, h4, h5, h6
    +header-text

h1
    font-size: 30px
h2
    font-size: 26px
h3
    font-size: 24px
h4
    font-size: 22px
h5
    font-size: 20px
h6
    font-size: 18px

pre:before
    content: 'Code:'
    display: block
    margin-bottom: 10px

pre
    +dark-bg
    +code-text
    border: 1px solid $accent-color
    margin: 10px 0
    overflow-x: auto
    padding: 10px

// Layout styles
$blueprint_grid_columns: 24
$blueprint_grid_width: 30px

#container
    +container

    header, footer
        +column(24, true)

    #main
        +column(18)

    #sidebar
        +column(6, true)
