<!doctype html>
    <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block title %}eculver.io{% endblock %}</title>

    <meta name="msvalidate.01" content="9EE27C08A27D8002C8E90CE12AFE8671" />
    <meta name="google-site-verification" content="UfSOhtNKmUg4c26AFZt4lCN81l_IapYuGlhrnS-NyS0" />

    <meta name="description" content="Personal site of Evan Culver">
    <meta name="author" content="Evan Culver">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}/eio/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}/eio/img/apple-touch-icon.png">

    <!-- base stylesheet -->
    <link href="{{ STATIC_URL }}/eio/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}/eio/css/print.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if lt IE 8]>
    <link href="{{ STATIC_URL }}/eio/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!-- All other JS at bottom of page -->
    <script src="{{ STATIC_URL }}/eio/js/lib/modernizr-2.0.6.min.js"></script>

    <!-- DNS prefetching for commonly used APIs -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Metrophobic|Varela' rel='stylesheet' type='text/css'>

    {% if noindex %}
        <!-- page-specific noindexing -->
        <meta name="robots" content="noindex" />
    {% endif %}

    {% block extrahead %}{% endblock %}
</head>


<body id="{% block bodyid %}default{% endblock %}" class="{% block bodyclass %}default{% endblock %}">
    <div class="container">
        <header>
            {% block header %}
                <div id="branding">
                    <h1><a href="{% url home %}" title="Home">Evan Culver</a></h1>
                    <span><a href="{% url home %}" title="Home">Web developer. Nerd.</a></span>
                </div>
                {% block nav %}
                    <ul>
                        <li><a href="{% url home %}" title="Home">Home</a></li>
                        <li><a href="#" title="About">About</a></li>
                        <li><a href="#" title="Contact">Contact</a></li>
                        <li><a href="#" title="CV">CV</a></li>
                    </ul>
                {% endblock %}
            {% endblock %}
        </header>

        <div id="main" role="main">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="sidebar">
            <div class="content">
                {% block sidebar %}
                    <section id="recent-articles">
                        <h3>Recent Articles</h3>
                        <ul>
                            <li><a href="#" title="Recent Article">Recent Article</a></li>
                            <li><a href="#" title="Another Recent article!">Another Recent Article</a></li>
                        </ul>
                    </section>

                    <section id="projects">
                        <h3>Projects</h3>
                        <ul>
                            <li>
                                <h6>In progress</h6>
                                <ul class="first">
                                    <li><a href="#" title="Project 1">Project 1</a></li>
                                    <li><a href="#" title="Project 2">Project 2</a></li>
                                    <li><a href="#" title="Project 3">Project 3</a></li>
                                    <li><a href="#" title="Project 4">Project 4</a></li>
                                </ul>
                            </li>
                            <li>
                                <h6>Completed</h6>
                                <ul>
                                    <li><a href="#" title="Project 1">Project 1</a></li>
                                    <li><a href="#" title="Project 2">Project 2</a></li>
                                    <li><a href="#" title="Project 3">Project 3</a></li>
                                    <li><a href="#" title="Project 4">Project 4</a></li>
                                </ul>
                            </li>

                        </ul>
                    </section>

                    <section id="elsewhere">
                        <h3>Elsewhere</h3>
                        <ul>
                            <li><div id="github-icon" class="icon"></div><a href="https://github.com/eculver" title="eculver on Github">Github</a></li>
                            <li><div id="twitter-icon" class="icon"></div><a href="https://twitter.com/evanculver" title="@evanculver on Twitter">Twitter</a></li>
                            <li><div id="linkedin-icon" class="icon"></div><a href="https://linkedin.com/evanculver" title="Evan Culver on LinkedIn">LinkedIn</a></li>
                            <li><div id="soundcloud-icon" class="icon"></div><a href="https://soundcloud.com/eculver" title="eculver on SoundCloud">SoundCloud</a></li>
                        </ul>
                    </section>
                {% endblock %}
            </div>
        </div>
    </div>

    <footer>
        {% block footer %}
            <div class="container">
                <div class="footer-column">
                    <div class="content">
                        <h5>Recent Articles</h5>
                        <ul>
                            <li>footer item 1</li>
                            <li>footer item 2</li>
                            <li>footer item 3</li>
                            <li>footer item 4</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column">
                    <div class="content">
                        <h5>Projects</h5>
                        <ul>
                            <li>footer item 1</li>
                            <li>footer item 2</li>
                            <li>footer item 3</li>
                            <li>footer item 4</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column last">
                    <div class="content">
                        <h5>Random</h5>
                        <ul>
                            <li>footer item 1</li>
                            <li>footer item 2</li>
                            <li>footer item 3</li>
                            <li>footer item 4</li>
                        </ul>
                    </div>
                </div>

                <div class="copy">
                    &copy; {% now "Y" %} Evan Culver.
                </div>
            </div>
        {% endblock %}
    </footer>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}/eio/js/lib/jquery-1.6.4.min.js"><\/script>')</script>

    <!-- Raphael mmmm -->
    <script src="{{ STATIC_URL }}/eio/js/lib/raphael-2.0.0.min.js"></script>

    <!-- Respond! -->
    <script src="{{ STATIC_URL }}/eio/js/lib/respond.min.js"></script>

    <!-- EIO -->
    <script defer src="{{ STATIC_URL }}/eio/js/script.js"></script>

    {% block extrabody %}{% endblock %}

    <script>
        var _gaq=[['_setAccount','UA-26218941-1'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
        chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
        <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
    </body>
</html>
