{% extends "common/base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/eio/css/syntax.css">
{% endblock %}

{% block bodyid %}blog-post{% endblock %}
{% block bodyclass %}blog{% endblock %}

{% comment %}

context vars:

post: post instance

{% endcomment %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>

        <div class="meta">posted by {{ post.author.first_name }} on {{ post.created|date:"l M jS, Y"}}</div>

        <div>
            {{ post.content_html|safe }}
        </div>
    </article>
{% endblock %}
