// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 16px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: white;

$link-color: white;

$link-hover-color: #82E66E;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #607890;  // color for selected text

$selected-background-color: #BABABA;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol
