@import "compass/css3";
@import "blueprint/grid";


//-----------------------------------
// Colors
//-----------------------------------
$bg-color: black;
$accent-color: #82e66e;


//-----------------------------------
// Common mixins
//-----------------------------------

@mixin dark-bg {
    background: url(../img/bg-texture.png) repeat;
}

@mixin body-text {
    color: white;
    font-family: "Metrophobic", sans-serif;
}

@mixin header-text {
    color: white;
    font-family: "Varela", sans-serif;
}

@mixin code-text {
    font-family: "Droid Sans Mono", sans-serif;
}


//-----------------------------------
// Base
//-----------------------------------

body {
    @include dark-bg;
    @include body-text;
    @include font-size(16px);
    border-top: 8px solid $accent-color;
    color: $font-color;
}

header {
    padding: 10px 0;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    @include header-text;
    font-weight: normal;
}

h1 { @include font-size(30px); }
h2 { @include font-size(26px); }
h3 { @include font-size(24px); }
h4 { @include font-size(22px); }
h5 { @include font-size(20px); }
h6 { @include font-size(18px); }

pre:before {
    content: "Code:";
    display: block;
    margin-bottom: 10px;
}

pre {
    @include dark-bg;
    @include code-text;
    border: 1px solid $accent-color;
    margin: 10px 0;
    overflow-x: auto;
    padding: 10px;
}

a, a:active, a:visited { color: $link-color; }

a {
    @include single-transition(all, 0.2s, ease-out);
    text-decoration: none;
}

a:hover {
    @include text-shadow($accent-color 0 0 0.2em);
    color: $link-hover-color;
}

strong, th {
  font-weight: bold;
}

small {
    @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Layout styles
//-----------------------------------

$blueprint_grid_columns: 24;
$blueprint_grid_width: 30px;

#container {
    @include container;

    header, footer {
        @include column(24, true); }

    header {
        #branding {
            float: right;
            margin-right: 45px; }

        ul {
            float: left;
            margin: 10px 0 0 10px;

            li {
                display: inline;
                list-style-type: none;
                margin-right: 10px;
            }
        }
    }

    #main {
        @include column(18);
    }

    #sidebar {
        @include column(6, true);

        section {
            margin-bottom: 10px;

            h3 {
                border-bottom: 1px solid $accent-color;
                margin-bottom: 10px;
            }

            ul {
                margin: 10px 0 0 10px;

                li {
                    clear: left;
                    list-style-type: none;

                    ul.first {
                        margin-bottom: 10px;
                    }
                }

            }

        }

        #elsewhere {
            ul {
                margin-top: 16px;
            }
        }
    }

    footer {
        @include font-size(13px);
        background-color: rgba(black, 0.2);
        margin-top: 20px;

        .footer-column {
            @include column(8);

            h5 {
                border-bottom: 1px solid $accent-color;
                margin-bottom: 5px;
            }

            ul {
                margin: 0;
                padding-left: 10px;

                li {
                    list-style-type: none;
                    margin: 5px 0;
                }

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .footer-column.last {
            @include column(8, true);
        }

        .copy {
            @include pie-clearfix;
            margin-top: 20px;
            padding: 10px;
            text-align: right;
        }
    }

    .content { padding: 20px; }
}

.icon {
    float: left;
    // adjust for line-height + icon height
    margin: -8px 12px 10px 0;
    height: 36px;
    width: 36px;
}

// Blog-specific styles
.blog {

    article {

        h1, .meta, p {
            margin-bottom: 10px;
        }
    }
}

